.TSkill_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.TSkill_container h4 {
  color: #cbcbcb;
}

.TSkill_container article {
  color: #cbcbcb;
}

.TSkill_container > div {
  /* background: rgb(255, 255, 255); */
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.TSkill_container > div:hover {
  background: transparent;
  border-color: white;
  cursor: default;
}

.TSkill_container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #cbcbcb;
}

.Tskil_Iindistrial_contend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.Tskil_Iindistrial_details {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .TSkill_container {
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .TSkill_container h4 {
    color: #cbcbcb;
  }

  .TSkill_container article {
    color: #cbcbcb;
  }

  .TSkill_container > div {
    /* background: rgb(255, 255, 255); */
    padding: 1.4rem 4rem;
    border-radius: 1rem;
    border: 1px solid transparent;
  }

  .TSkill_container > div:hover {
    background: transparent;
    border-color: white;
    cursor: default;
  }

  .TSkill_container > div h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #cbcbcb;
  }

  .Tskil_Iindistrial_contend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }

  .Tskil_Iindistrial_details {
    display: flex;
    gap: 1rem;
  }
}
